openapi: 3.2.0
info:
  title: Purplebricks.Messaging.Api 1.0 - Backend Messages API
  description: '### Purplebricks Messaging API

    ### [Purplebricks.Messaging.Api Git Repository](https://dev.azure.com/purplebricks/BackEnd/_git/messaging-api)'
  version: '1.0'
servers:
- url: https://api.purplebricks.co.uk/messaging-api
security:
- Bearer: []
tags:
- name: Messages
paths:
  /v1/messages:
    get:
      tags:
      - Messages
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      - name: threadId
        in: query
        schema:
          type: string
          format: uuid
      - name: isRead
        in: query
        schema:
          type: boolean
      - name: includeSystemMessages
        in: query
        schema:
          type: boolean
      - name: limit
        in: query
        schema:
          type: integer
          format: int32
          default: 50
      - name: cursor
        in: query
        schema:
          type: string
      - name: page
        in: query
        schema:
          $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.CursorPaginationType'
      - name: ascending
        in: query
        schema:
          type: boolean
          default: true
      - name: userId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessagesListResponseModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessagesListResponseModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessagesListResponseModel'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    post:
      tags:
      - Messages
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageRequestModel'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /v1/messages/{messageId}:
    get:
      tags:
      - Messages
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    put:
      tags:
      - Messages
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageUpdateRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageUpdateRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageUpdateRequestModel'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /v1/messages/{messageId}/notes:
    get:
      tags:
      - Messages
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: userId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    post:
      tags:
      - Messages
      parameters:
      - name: messageId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.NoteRequestModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.NoteRequestModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.NoteRequestModel'
      responses:
        '201':
          description: Created
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /v1/messages/count:
    get:
      tags:
      - Messages
      parameters:
      - name: type
        in: query
        schema:
          $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.MessageStatusType'
      - name: includeSystemMessages
        in: query
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
components:
  schemas:
    Purplebricks.Messaging.Business.Messages.Models.MessagesListResponseModel:
      type: object
      properties:
        messages:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.MessageResponseModel'
        pageInfo:
          $ref: '#/components/schemas/Purplebricks.Messaging.Business.Messages.Models.PageInfoResponseModel'
      additionalProperties: false
    Purplebricks.Messaging.Business.Messages.Models.NoteRequestModel:
      type: object
      properties:
        userId:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        subject:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Purplebricks.Messaging.Business.Messages.Models.CursorPaginationType:
      enum:
      - Previous
      - Next
      type: string
    Purplebricks.Messaging.Business.Messages.Models.MessageUpdateRequestModel:
      type: object
      properties:
        subject:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
        read:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    Purplebricks.Messaging.Business.Messages.Models.MessageRequestModel:
      type: object
      properties:
        threadId:
          type:
          - string
          - 'null'
          format: uuid
        senderId:
          type: integer
          format: int32
        recipientId:
          type: integer
          format: int32
        propertyId:
          type:
          - integer
          - 'null'
          format: int32
        subject:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
        address:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Messaging.Business.Messages.Models.PageInfoResponseModel:
      type: object
      properties:
        requestedPageSize:
          type: integer
          format: int32
        totalItemCount:
          type: integer
          format: int32
        hasNextPage:
          type: boolean
        hasPreviousPage:
          type: boolean
      additionalProperties: false
    Purplebricks.Messaging.Business.Messages.MessageStatusType:
      enum:
      - All
      - Read
      - Unread
      type: string
    Purplebricks.Messaging.Business.Messages.Models.MessageResponseModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        threadId:
          type: string
          format: uuid
        senderId:
          type:
          - integer
          - 'null'
          format: int32
        recipientId:
          type: integer
          format: int32
        propertyId:
          type:
          - integer
          - 'null'
          format: int32
        subject:
          type:
          - string
          - 'null'
        body:
          type:
          - string
          - 'null'
        read:
          type: boolean
        date:
          type: string
          format: date-time
        cursor:
          type:
          - string
          - 'null'
        isSystemMessage:
          type: boolean
          readOnly: true
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
