openapi: 3.2.0
info:
  title: Purplebricks Property API
  version: '1.0'
  description: 'Operations tagged Property across 2 of this provider''s published API definitions: purplebricks-branch-v1-openapi.yml, purplebricks-property-v1-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.purplebricks.co.uk/branch-api
  description: Base URL declared by the provider in apis.yml (roadmap#122).
- url: https://api.purplebricks.co.uk/property-api
security:
- Bearer: []
tags:
- name: Property
paths:
  /v1/property/{propertyId}/rightmovebranch:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightmoveBranch'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/branch-api
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /v1/property/{propertyId}/zooplabranch:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RightmoveBranch'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/branch-api
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /v1/property/{propertyId}/onthemarketbranch:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OnTheMarketBranch'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/branch-api
      description: Base URL declared by the provider in apis.yml (roadmap#122).
  /v1/property/create:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Contract.PropertyDetails'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Contract.PropertyDetails'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Contract.PropertyDetails'
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/relistproperty:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Contract.RelistPropertyRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Contract.RelistPropertyRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Contract.RelistPropertyRequest'
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '201':
          description: Success
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getpropertylist:
    get:
      tags:
      - Property
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getproperty:
    get:
      tags:
      - Property
      parameters:
      - name: id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getowners:
    get:
      tags:
      - Property
      parameters:
      - name: id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.OwnersViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.OwnersViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.OwnersViewModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/marketingprice:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.SellingPriceInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.SellingPriceInputModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.SellingPriceInputModel'
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/addpropertymediadata:
    put:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyMediaData'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyMediaData'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyMediaData'
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyMediaData'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyMediaData'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyMediaData'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/{propertyId}:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.PropertyDetailsViewModel'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/{propertyId}/address:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyAddressRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyAddressRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyAddressRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '405':
          description: Method Not Allowed
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/rentalprice:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.RentalPriceInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.RentalPriceInputModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.RentalPriceInputModel'
      responses:
        '200':
          description: Success
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getagentforproperty:
    get:
      tags:
      - Property
      parameters:
      - name: id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.ExpertContactViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.ExpertContactViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.ExpertContactViewModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getsalesaddonavailability:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.LocationGroupSalesAddOnAvailabilityViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.LocationGroupSalesAddOnAvailabilityViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.LocationGroupSalesAddOnAvailabilityViewModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/hasboardordered:
    get:
      tags:
      - Property
      parameters:
      - name: id
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: boolean
            application/json:
              schema:
                type: boolean
            text/json:
              schema:
                type: boolean
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getpropertyhistory:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.HistoryEventModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.HistoryEventModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.HistoryEventModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getuserproperties:
    get:
      tags:
      - Property
      parameters:
      - name: userId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.UserPropertyModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.UserPropertyModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.UserPropertyModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getportalenquiries:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.PropertyEnquiryModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.PropertyEnquiryModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.PropertyEnquiryModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getpropertytracks:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.PropertyTrackModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.PropertyTrackModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Model.PropertyTrackModel'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/registertrackedrecord:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyTrackedInput'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyTrackedInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyTrackedInput'
      responses:
        '201':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/withdrawtrackedrecord:
    delete:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/registernoteofinterest:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyTrackedInput'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyTrackedInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.PropertyTrackedInput'
      responses:
        '201':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/withdrawnoteofinterest:
    delete:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/getpropertyactions:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyAction'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyAction'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyAction'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/createproperty:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.CreatePropertyInput'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.CreatePropertyInput'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.CreatePropertyInput'
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '201':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.CreatePropertyViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.CreatePropertyViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.CreatePropertyViewModel'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
        default:
          description: Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/resetproperty/{propertyId}/{userId}:
    post:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '201':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: integer
                format: int32
            application/json:
              schema:
                type: integer
                format: int32
            text/json:
              schema:
                type: integer
                format: int32
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
        default:
          description: Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/property/sendinstantinstructcontactrequest:
    post:
      tags:
      - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.ContactRequestInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.ContactRequestInputModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.ContactRequestInputModel'
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/creatio/properties/{propertyId}:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyViewModel'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
    servers:
    - url: https://api.purplebricks.co.uk/property-api
  /v1/creatio/properties/{propertyId}/notes:
    get:
      tags:
      - Property
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyNotesViewModel'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyNotesViewModel'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyNotesViewModel'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                type: string
            application/json:
              schema:
                type: string
            text/json:
              schema:
                type: string
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
    servers:
    - url: https://api.purplebricks.co.uk/property-api
components:
  schemas:
    BranchService:
      enum:
      - NotSpecified
      - Sales
      - Lettings
      type: string
    OnTheMarketBranch:
      type: object
      properties:
        branchId:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        postcodeArea:
          type:
          - string
          - 'null'
        service:
          $ref: '#/components/schemas/BranchService'
        livePropertyIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
      additionalProperties: false
    RightmoveBranch:
      type: object
      properties:
        branchId:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        postcodeArea:
          type:
          - string
          - 'null'
        service:
          $ref: '#/components/schemas/BranchService'
        livePropertyIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
      additionalProperties: false
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Purplebricks.Property.Domain.Entities.Valuation:
      type: object
      properties:
        id:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        valuationDate:
          type: string
          format: date-time
        listPrice:
          type: number
          format: double
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.PaymentStatus:
      enum:
      - New
      - ThreeDSecure
      - Success
      - Cancelled
      type: string
    Purplebricks.Property.Domain.Enums.HistoryEventType:
      enum:
      - AgentNote
      - AgentNoteCallIn
      - AgentNoteCallOut
      - CheckoutComplete
      - ClientCardAccess
      - ExtraAdded
      - ExtraExpired
      - ExtraRemoved
      - FailedLogIn
      - FeedbackDeclined
      - FeedbackRequested
      - FeedbackSubmitted
      - Instructed
      - LivePhotoUpdate
      - NewOfferSubmitted
      - OfferUpdate
      - PhotoDeleted
      - PriceChanged
      - StatusUpdate
      - UserLoggedIn
      - ValuationArranged
      - ValuationCancelled
      - ViewingArranged
      - ViewingCancelled
      - ViewingRequestCancelled
      - ViewingRequest
      - ExtraUpdated
      - HomeserveFeedAdded
      - HomeserveFeedDeleted
      - EnabledAccount
      - DisabledAccount
      - ViewingRearranged
      - ValuationRearranged
      - LockLawyer
      - UnlockLawyer
      - ArchiveProperty
      - UnarchiveProperty
      - PropertyTransferred
      - AccompaniedViewingExpertChanged
      - UserRegisteredByCpe
      - PropertyAuctionToPrivateTreaty
      - LpeDetailsModified
      - SalesDatesDetailsModified
      type: string
    Purplebricks.Property.Domain.Enums.ExpertType:
      enum:
      - Selling
      - Letting
      - Buying
      type: string
    Purplebricks.Property.Domain.Enums.BoardProviderType:
      enum:
      - Countrywide
      - AgencyExpress
      - BoardsOnline
      type: string
    Purplebricks.Property.Domain.Enums.Furnished:
      enum:
      - Furnished
      - PartFurnished
      - Unfurnished
      type: string
    Purplebricks.Property.Business.ViewModels.Creatio.CreatioExpert:
      type: object
      properties:
        fullName:
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Business.InputModels.RentalPriceInputModel:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        rent:
          type: number
          format: double
        priceQualifier:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.PriceQualifier'
        rentFrequency:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.RentFrequency'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.ViewingPurpose:
      enum:
      - ToOccupy
      - DevelopmentOpportunity
      - BtlInvestment
      type: string
    Purplebricks.Property.Domain.Enums.SellerOwnership:
      enum:
      - OwnerOccupier
      - Landlord
      - Inherited
      - Investor
      - HolidayHomeOwner
      - Executor
      - PowerOfAttorney
      - NonUKResident
      - Company
      - Trust
      - Partnership
      - Other
      - OverseasCompany
      type: string
    Purplebricks.Property.Domain.Enums.AmendmentStatus:
      enum:
      - Approved
      - Rejected
      - Pending
      type: string
    Purplebricks.Property.Business.ViewModels.Creatio.CreatioPropertyViewModel:
      type: object
      properties:
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.CreatioProperty'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.LandAreaUnit:
      enum:
      - Squares
      - SquareMetres
      - SquareFeet
      - SquareYards
      - SquareMiles
      - SquareKm
      - Acres
      - Hectares
      type: string
    Purplebricks.Property.Domain.Enums.RegionType:
      enum:
      - England
      - Scotland
      - Wales
      - NorthernIreland
      - Queensland
      - Victoria
      - NewSouthWales
      - WesternAustralia
      - SouthAustralia
      - California
      - NewYork
      - Connecticut
      - NewJersey
      - Pennsylvania
      - Arizona
      - Nevada
      - NewZealand
      - Florida
      type: string
    Purplebricks.Property.Domain.Enums.ComplianceStatus:
      enum:
      - Passed
      - Failed
      - Reset
      - AwaitingCompliance
      - NotApplicable
      type: string
    Purplebricks.Property.Domain.Enums.PropertyListingRemovalReason:
      enum:
      - WithdrawNoLongerSelling
      - WithdrawNoLongerLetting
      - WithdrawMarketingBreak
      - WithdrawSoldSTC_OtherAgent
      - WithdrawSoldSTC_PrivateSale
      - WithdrawLetSTC_OtherAgent
      - WithdrawLetSTC_PrivateSale
      - SoldByUs
      - LetByUs
      type: string
    Purplebricks.Property.Business.InputModels.PropertyMediaData:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        imageUrls:
          type:
          - array
          - 'null'
          items:
            type: string
        floorPlanUrl:
          type:
          - string
          - 'null'
        matterportUrl:
          type:
          - string
          - 'null'
        epcUrl:
          type:
          - string
          - 'null'
        elevatedImageUrls:
          type:
          - array
          - 'null'
          items:
            type: string
        showcaseUrls:
          type:
          - array
          - 'null'
          items:
            type: string
        droneImageUrls:
          type:
          - array
          - 'null'
          items:
            type: string
        portalVideoUrls:
          type:
          - array
          - 'null'
          items:
            type: string
        virtualTourUrl:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.TenantAdditionalData:
      type: object
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        customer:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Customer'
        propertyId:
          type:
          - integer
          - 'null'
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        moveInDate:
          type:
          - string
          - 'null'
          format: date-time
        terms:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.TenantTerms'
        lettingTerms:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.LettingTerms'
        employmentStatus:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.EmploymentStatus'
        poorCreditHistory:
          type:
          - boolean
          - 'null'
        havePets:
          type:
          - boolean
          - 'null'
        otherPets:
          type:
          - string
          - 'null'
        isSmoker:
          type: boolean
        isPbConnected:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.InstructionSourceType:
      enum:
      - Other
      - Radio
      - GoogleSearch
      - BoardAtProperty
      - FriendFamilyRecommendation
      - PressAdvert
      - Tv
      - OnlineBannerAdverts
      - UsedUsBefore
      - Leaflets
      type: string
    Purplebricks.Property.Domain.Entities.PaymentTransaction:
      type: object
      properties:
        id:
          type: integer
          format: int32
        paymentMethod:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.PaymentMethod'
        paymentStatus:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.PaymentStatus'
        createdDate:
          type: string
          format: date-time
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.IdUploadType:
      enum:
      - Manual
      - Online
      type: string
    Purplebricks.Property.Domain.Model.PropertyEnquiryModel:
      type: object
      properties:
        propertyEnquiryId:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        portalType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.PortalType'
        email:
          type:
          - string
          - 'null'
        enquiryDate:
          type: string
          format: date-time
        name:
          type:
          - string
          - 'null'
        phone:
          type:
          - string
          - 'null'
        propertyToSell:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Business.ViewModels.Creatio.PropertyNote:
      type: object
      properties:
        id:
          type: integer
          format: int32
        noteType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.HistoryEventType'
        address:
          $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Creatio.Address'
        subject:
          type:
          - string
          - 'null'
        createdDate:
          type: string
          format: date-time
        note:
          type:
          - string
          - 'null'
        isPinned:
          type: boolean
        creatorName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.EventType:
      enum:
      - Valuation
      - Viewing
      - OpenDay
      - Busy
      - VirtualValuation
      type: string
    Purplebricks.Property.Domain.Enums.VoucherType:
      enum:
      - Percent
      - Amount
      type: string
    Purplebricks.Property.Domain.Entities.BookingDiary:
      type: object
      properties:
        id:
          type: integer
          format: int32
        start:
          type: string
          format: date-time
        isToConfirm:
          type: boolean
        propertyId:
          type:
          - integer
          - 'null'
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        isByCancelled:
          type: boolean
        isToCancelled:
          type: boolean
        rearrangedById:
          type:
          - integer
          - 'null'
          format: int32
        eventType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.EventType'
        feedback:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Feedback'
        attended:
          type:
          - boolean
          - 'null'
        comments:
          type:
          - string
          - 'null'
        appointmentReference:
          type:
          - string
          - 'null'
          format: uuid
        createdDate:
          type: string
          format: date-time
        rearrangedBookingId:
          type:
          - integer
          - 'null'
          format: int32
        userTo:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PurpleBricksUser'
        userBy:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PurpleBricksUser'
        userIdBy:
          type: integer
          format: int32
        userIdTo:
          type: integer
          format: int32
        bookingProcess:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.BookingProcess'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.StreetViewData:
      required:
      - heading
      - hideStreetview
      - latitude
      - longitude
      - mapLatitude
      - mapLongitude
      - pitch
      - zoom
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        heading:
          type: number
          format: double
        pitch:
          type: number
          format: double
        zoom:
          type: number
          format: double
        mapLatitude:
          type: number
          format: double
        mapLongitude:
          type: number
          format: double
        hideStreetview:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.ImageStatus:
      enum:
      - AwaitingApprovalActive
      - AwaitingApprovalInactive
      - ApprovedActive
      - ApprovedInactive
      type: string
    Purplebricks.Property.Domain.Enums.IdUploadFileType:
      enum:
      - AgentPdfCertificate
      - AgentPhotoId
      - AgentResidentialId
      - ComplianceDocument
      type: string
    Purplebricks.Property.Domain.Enums.RentFrequency:
      enum:
      - Yearly
      - Quarterly
      - Monthly
      - Weekly
      - Daily
      type: string
    Purplebricks.Property.Domain.Enums.OwnershipReviewStatus:
      enum:
      - Unknown
      - InReview
      - Approved
      - Rejected
      type: string
    Purplebricks.Property.Domain.Enums.BookingProcess:
      enum:
      - SellerBookValuation
      - BuyerBookViewing
      - CallCentreBookValuation
      - CallCentreBookViewing
      - SellerRearrange
      - BuyerRearrange
      - LpeRearrange
      - LpeBookViewing
      - BuyingAgentBookViewing
      type: string
    Purplebricks.Property.Domain.Enums.CashSource:
      enum:
      - Savings
      - Sale
      type: string
    Purplebricks.Property.Domain.Enums.PriceQualifier:
      enum:
      - Default
      - Poa
      - GuidePrice
      - FixedPrice
      - OffersInExcessOf
      - Oiro
      - SaleByTender
      - From
      - SharedOwnership
      - OffersOver
      - PartBuyPartRent
      - SharedEquity
      type: string
    Purplebricks.Property.Domain.Enums.OrderStatus:
      enum:
      - New
      - PaymentComplete
      - Cancelled
      - Completed
      type: string
    Purplebricks.Property.Domain.Enums.WorkflowStepType:
      enum:
      - Create
      - BookValuation
      - Valuation
      - Instruct
      - CreateAdvert
      - RejectAdvert
      - AmendAdvert
      - ApproveAdvert
      - SchedulePendingRegCert
      - Schedule
      - PublishPendingRegCert
      - Publish
      - Withdraw
      - Suspend
      - SuspendByUser
      - SuspendAccount
      - UnderOffer
      - SoldSubjectToContract
      - DiyAdvertStarted
      - LetSubjectToContract
      - DeclineOffer
      - UpdateProperty
      - AcceptableOffer
      - ApplicationReceived
      - AcceptableOfferNotMarketed
      - WithdrawOffer
      - UpdateAdvert
      - DiyAdvertCreated
      - DiyAdvertRejected
      - ApprovePhoto
      - ContractsExchanged
      - Completion
      - DiyAdvertAmended
      - DiyAdvertRejectAmendments
      - SchedulePendingContract
      - PublishPendingContract
      - UpdatePropertyDiary
      - ContractsExchangedCoolingOffPeriod
      - ForceSold
      - ForceSoldSubjectToContract
      - ForceContractsExchanged
      - ForceCompletion
      - SoldSubjectToEscrow
      - PendingEscrow
      - Closing
      - ForceAcceptableOffer
      - ForceAcceptableOfferNotMarketed
      - ForceContractsExchangedCoolingOffPeriod
      - InstantValuation
      - FakeValuation
      - Cancelled
      type: string
    Purplebricks.Property.Business.ViewModels.OwnersViewModel:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.OwnerViewModel'
        additionalOwners:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.OwnerViewModel'
      additionalProperties: false
    Purplebricks.Property.Contract.Enums.Tenure:
      enum:
      - Freehold
      - Leasehold
      - ShareOfFreehold
      - SharedOwnership
      type: string
    Purplebricks.Property.Domain.Enums.HistoryEventAction:
      enum:
      - None
      - Note
      - CallIn
      - CallOut
      - CallOutMarketingReport
      type: string
    Purplebricks.Property.Domain.Enums.BoardProcessingStatus:
      enum:
      - Processing
      - Processed
      - Failed
      - AwaitingHomeReport
      - AwaitingPublish
      type: string
    Purplebricks.Property.Domain.Entities.Address:
      type: object
      properties:
        id:
          type: integer
          format: int32
        addressType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.AddressType'
        line1:
          type:
          - string
          - 'null'
        line2:
          type:
          - string
          - 'null'
        district:
          type:
          - string
          - 'null'
        town:
          type:
          - string
          - 'null'
        county:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
        country:
          type:
          - string
          - 'null'
        user:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PurpleBricksUser'
        userId:
          type:
          - integer
          - 'null'
          format: int32
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        addressText:
          type:
          - string
          - 'null'
        unitNumber:
          maxLength: 15
          minLength: 0
          type:
          - string
          - 'null'
        state:
          maxLength: 5
          minLength: 0
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.PropertyTitleDeed:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        filename:
          type:
          - string
          - 'null'
        uploadedFilename:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.UserDiscriminator:
      enum:
      - Customer
      - Lpe
      - Cpe
      - BuyerAgent
      type: string
    Purplebricks.Property.Domain.Entities.PropertyContract:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        fileName:
          type:
          - string
          - 'null'
        uploadedFileName:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.ImageDetail:
      type: object
      properties:
        id:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        ordinal:
          type: integer
          format: int32
        dateUploaded:
          type: string
          format: date-time
        category:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        fullSizeURL:
          type:
          - string
          - 'null'
        largeSizeURL:
          type:
          - string
          - 'null'
        mediumSizeURL:
          type:
          - string
          - 'null'
        smallSizeURL:
          type:
          - string
          - 'null'
        tinySizeURL:
          type:
          - string
          - 'null'
        sourceUrl:
          type:
          - string
          - 'null'
        backgroundColour:
          maxLength: 6
          minLength: 0
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.ImageStatus'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.PropertyBoardAction:
      type: object
      properties:
        id:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        boardProviderType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.BoardProviderType'
        jobType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.JobType'
        processStatus:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.BoardProcessingStatus'
        externalPropertyReference:
          type:
          - string
          - 'null'
        jobReference:
          type:
          - string
          - 'null'
        expectedJobDate:
          type:
          - string
          - 'null'
          format: date-time
        boardInstalled:
          type:
          - string
          - 'null'
          format: date-time
        boardRemoved:
          type:
          - string
          - 'null'
          format: date-time
        created:
          type: string
          format: date-time
        lastModified:
          type:
          - string
          - 'null'
          format: date-time
        notes:
          type:
          - string
          - 'null'
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.IanaTimeZone:
      enum:
      - Not Set
      - Europe/London
      - Australia/Perth
      - Australia/Eucla
      - Australia/Adelaide
      - Australia/Broken_Hill
      - Australia/Darwin
      - Australia/Brisbane
      - Australia/Currie
      - Australia/Hobart
      - Australia/Lindeman
      - Australia/Melbourne
      - Australia/Sydney
      - Australia/Lord_Howe
      - Antarctica/Macquarie
      - America/Los_Angeles
      - America/New_York
      - America/Detroit
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Indiana/Indianapolis
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Vevay
      - America/Chicago
      - America/Indiana/Tell_City
      - America/Indiana/Knox
      - America/Menominee
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/North_Dakota/Beulah
      - America/Boise
      - America/Phoenix
      - America/Anchorage
      - America/Juneau
      - America/Sitka
      - America/Yakutat
      - America/Nome
      - America/Adak
      - America/Metlakatla
      - Pacific/Honolulu
      - America/Denver
      - Pacific/Auckland
      type: string
    Purplebricks.Property.Contract.PropertyDetails:
      type: object
      properties:
        id:
          type: integer
          format: int32
        userId:
          type: integer
          format: int32
        expertId:
          type: integer
          format: int32
        line1:
          maxLength: 200
          type:
          - string
          - 'null'
        line2:
          maxLength: 200
          type:
          - string
          - 'null'
        unitNumber:
          maxLength: 50
          type:
          - string
          - 'null'
        town:
          maxLength: 200
          type:
          - string
          - 'null'
        county:
          maxLength: 200
          type:
          - string
          - 'null'
        state:
          maxLength: 50
          type:
          - string
          - 'null'
        postcode:
          maxLength: 10
          type:
          - string
          - 'null'
        country:
          maxLength: 200
          type:
          - string
          - 'null'
        bedrooms:
          type:
          - integer
          - 'null'
          format: int32
        receptions:
          type:
          - integer
          - 'null'
          format: int32
        bathrooms:
          type:
          - integer
          - 'null'
          format: int32
        garage:
          $ref: '#/components/schemas/Purplebricks.Property.Contract.Enums.Garage'
        parking:
          $ref: '#/components/schemas/Purplebricks.Property.Contract.Enums.Parking'
        garden:
          $ref: '#/components/schemas/Purplebricks.Property.Contract.Enums.Garden'
        doubleGlazing:
          $ref: '#/components/schemas/Purplebricks.Property.Contract.Enums.Glazing'
        centralHeating:
          $ref: '#/components/schemas/Purplebricks.Property.Contract.Enums.Heating'
        tenure:
          $ref: '#/components/schemas/Purplebricks.Property.Contract.Enums.Tenure'
        lease:
          type:
          - integer
          - 'null'
          format: int32
        propertyToLet:
          type: boolean
        isPbEmployee:
          type: boolean
        isDiy:
          type: boolean
        latitude:
          type:
          - number
          - 'null'
          format: double
        longitude:
          type:
          - number
          - 'null'
          format: double
        locationGroupId:
          type: integer
          format: int32
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.VoucherAddOnType:
      type: object
      properties:
        id:
          type: integer
          format: int32
        voucherId:
          type: integer
          format: int32
        addOnId:
          type: integer
          format: int32
      additionalProperties: false
    Purplebricks.Property.Business.ViewModels.OwnerViewModel:
      required:
      - forename
      - surname
      type: object
      properties:
        id:
          type:
          - integer
          - 'null'
          format: int32
        title:
          maxLength: 50
          type:
          - string
          - 'null'
        forename:
          maxLength: 50
          type: string
        middlename:
          maxLength: 50
          type:
          - string
          - 'null'
        surname:
          maxLength: 50
          type: string
        number:
          maxLength: 200
          type:
          - string
          - 'null'
        street:
          maxLength: 200
          type:
          - string
          - 'null'
        town:
          maxLength: 200
          type:
          - string
          - 'null'
        county:
          maxLength: 200
          type:
          - string
          - 'null'
        postcode:
          maxLength: 10
          type:
          - string
          - 'null'
        dob:
          type:
          - string
          - 'null'
          format: date-time
        email:
          maxLength: 254
          type:
          - string
          - 'null'
          format: email
        contactNumber:
          maxLength: 20
          type:
          - string
          - 'null'
        isPbEmployee:
          type: boolean
        idChecks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.OwnerIdCheckViewModel'
        sellerOwnership:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.SellerOwnership'
        sellerOwnershipText:
          type:
          - string
          - 'null'
        metInPerson:
          type:
          - boolean
          - 'null'
        isLandlord:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.IdCheck:
      type: object
      properties:
        id:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.IdUploadType'
        state:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.IdStatus'
        active:
          type: boolean
        uploadFileType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.IdUploadFileType'
        fileName:
          type:
          - string
          - 'null'
        fileUrl:
          type:
          - string
          - 'null'
        createdDate:
          type: string
          format: date-time
        propertyId:
          type:
          - integer
          - 'null'
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        additionalOwnerId:
          type:
          - integer
          - 'null'
          format: int32
        additionalOwner:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.AdditionalOwner'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.Garden:
      enum:
      - None
      - Garden
      - PrivateGarden
      type: string
    Purplebricks.Property.Domain.Entities.PropertyListingHistory:
      type: object
      properties:
        id:
          type: integer
          format: int32
        propertyId:
          type: integer
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        datePublished:
          type: string
          format: date-time
        dateRemoved:
          type:
          - string
          - 'null'
          format: date-time
        reasonRemoved:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.PropertyListingRemovalReason'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.Feedback:
      type: object
      properties:
        id:
          type: integer
          format: int32
        booking:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.BookingDiary'
        userId:
          type: integer
          format: int32
        user:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PurpleBricksUser'
        presentation:
          type:
          - integer
          - 'null'
          format: int32
        suitability:
          type:
          - integer
          - 'null'
          format: int32
        price:
          type:
          - integer
          - 'null'
          format: int32
        comments:
          type:
          - string
          - 'null'
        declinedToLeaveFeedback:
          type: boolean
        isRead:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.TaxBand:
      enum:
      - A
      - B
      - C
      - D
      - E
      - F
      - G
      - H
      - I
      - TBC
      - Exempt
      type: string
    Purplebricks.Property.Domain.Model.PropertyTrackModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        fullName:
          type:
          - string
          - 'null'
        trackingUserId:
          type: integer
          format: int32
        dateTracked:
          type: string
          format: date-time
        notificationOfInterest:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.ShoppingCartItem:
      type: object
      properties:
        id:
          type: integer
          format: int32
        quantity:
          type: integer
          format: int32
        value:
          type: number
          format: double
        netValue:
          type: number
          format: double
        shoppingCartId:
          type: integer
          format: int32
        shoppingCart:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.ShoppingCart'
        addOnId:
          type:
          - integer
          - 'null'
          format: int32
        addOn:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.AddOn'
        title:
          type:
          - string
          - 'null'
        isVatExcluded:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.CustomerAdditionalData:
      type: object
      properties:
        customerId:
          type: integer
          format: int32
        customer:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Customer'
        propertyToSell:
          type:
          - boolean
          - 'null'
        propertyToLet:
          type:
          - boolean
          - 'null'
        sellStatusUpdatedByUserId:
          type: integer
          format: int32
        sellStatusUpdatedOn:
          type: string
          format: date-time
        letStatusUpdatedByUserId:
          type: integer
          format: int32
        letStatusUpdatedOn:
          type: string
          format: date-time
        metInPerson:
          type:
          - boolean
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.PurplebricksPlus:
      type: object
      properties:
        propertyId:
          type: integer
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        createdDate:
          type: string
          format: date-time
        dateClaimed:
          type:
          - string
          - 'null'
          format: date-time
        claimedByUserId:
          type:
          - integer
          - 'null'
          format: int32
        isActive:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.ShoppingCart:
      type: object
      properties:
        id:
          type: integer
          format: int32
        total:
          type: number
          format: double
        vatRate:
          type: number
          format: double
        vatTotal:
          type: number
          format: double
        voucherDiscount:
          type: number
          format: double
        propertyId:
          type: integer
          format: int32
        property:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
        shoppingCartItems:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.ShoppingCartItem'
        shoppingCartVoucher:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.ShoppingCartVoucher'
        userId:
          type: integer
          format: int32
        customer:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Customer'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.AddOnType:
      enum:
      - PropertyListing
      - InitialForSaleBoard
      - AccompaniedViewings
      - Epc
      - InitialForRentBoard
      - PremiumListing
      - NegotiationService
      - ProfessionalPhotos
      - VirtualTours
      - PropertyPresentation
      - PremiumSalesParticulars
      - DiyListing
      - AdditionalForSaleBoard
      - AdditionalForRentBoard
      - StandardReference
      - DetailedReference
      - Guarantor
      - TenancyAgreement
      - Inventory1To3Rooms
      - InventoryCheckIn
      - InventoryCheckInCheckOut
      - Inventory4PlusRooms
      - AdditionalStandardReference
      - StudentReference
      - HomeReport
      - PurplebricksPlusListing
      - Auction
      - AuctionPropertyListing
      - AccompaniedViewingsFree
      - DomainAuPriorityListing
      - RealEstateAuFeatureListing
      - RealEstateAuHighlightListing
      - DomainAuPremiumListing
      - DomainAuPremiumListing6Week
      - DomainAuPremiumListing3Week
      - DomainAuPriorityListing6Week
      - AuctionUpgrade
      - UnlockFixedLawyer
      - RightMoveFeaturedProperty
      - RightMoveFeaturedPremiumBundle
      - DomainAuPlatinumListing6Week
      - DomainAuPlatinumListing10Week
      - DomainAuPlatinumListing14Week
      - DomainAuPlatinumListing90Day
      - DomainAuPremiumListing90Day
      - DomainAuPremiumListing45Day
      - REAAuHighlightListing45
      - REAAuPremiereListing45
      - REAAuPremiereDiscountListing45
      - ProfessionalFloorplan
      - PurplebricksPremierListing
      - PurplebricksFeaturedProperty
      - HoldingDeposit
      - HomeReportRefresh
      - AdvancedConveyancingServices
      - InitialMarketingFee
      - Interactive3DTour
      - MoneyBackGuarantee
      type: string
    Purplebricks.Property.Business.ViewModels.OwnerIdCheckViewModel:
      type: object
      properties:
        id:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.IdUploadType'
        state:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.IdStatus'
        active:
          type:
          - boolean
          - 'null'
        fileType:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.IdUploadFileType'
        fileName:
          maxLength: 100
          type:
          - string
          - 'null'
        downloadFileName:
          maxLength: 256
          type:
          - string
          - 'null'
        createdDate:
          type: string
          format: date-time
        complianceDocumentType:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.RegulatoryCertificateType:
      enum:
      - Epc
      - Hmo
      - HomeReport
      type: string
    Purplebricks.Property.Contract.Enums.Parking:
      enum:
      - None
      - Allocated
      - Communal
      - Covered
      - Driveway
      - Gated
      - OffStreet
      - OnStreet
      type: string
    Purplebricks.Property.Domain.Entities.PropertyMaster:
      type: object
      properties:
        id:
          type: integer
          format: int32
        address:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Address'
        propertyListings:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Property'
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.Order:
      type: object
      properties:
        id:
          type: integer
          format: int32
        type:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.OrderType'
        orderLines:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.OrderLine'
        addressId:
          type: integer
          format: int32
        address:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Address'
        userId:
          type: integer
          format: int32
        status:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.OrderStatus'
        createdDate:
          type: string
          format: date-time
        paymentAmount:
          type: number
          format: double
        payAtSettlementTotal:
          type: number
          format: double
        propertyId:
          type: integer
          format: int32
        paymentTransactions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PaymentTransaction'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.AssociationFeeFrequency:
      enum:
      - Weekly
      - Monthly
      - Quarterly
      - Annually
      - Biannually
      type: string
    Purplebricks.Property.Domain.Enums.WithdrawPropertyReason:
      enum:
      - NoLongerSelling
      - NoLongerLetting
      - MarketingBreak
      - SoldSTC_OtherAgent
      - SoldSTC_PrivateSale
      - LetSTC_OtherAgent
      - LetSTC_PrivateSale
      - SoldWithPurplebricks
      - LetWithPurplebricks
      type: string
    Purplebricks.Property.Domain.Entities.PropertyAttributeDescriptionAmendment:
      type: object
      properties:
        id:
          type: integer
          format: int32
        descriptionAmendment:
          maxLength: 4000
          type:
          - string
          - 'null'
        status:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.AmendmentStatus'
        propertyAttributeId:
          type: integer
          format: int32
        propertyAttribute:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyAttribute'
        createdDate:
          type: string
          format: date-time
        createdBy:
          type: integer
          format: int32
      additionalProperties: false
    Purplebricks.Property.Domain.Entities.User:
      type: object
      properties:
        userId:
          type: integer
          format: int32
        surname:
          type:
          - string
          - 'null'
        forename:
          type:
          - string
          - 'null'
        publicUserId:
          type: string
          format: uuid
        title:
          maxLength: 10
          minLength: 0
          type:
          - string
          - 'null'
        email:
          type:
          - string
          - 'null'
        fullName:
          type:
          - string
          - 'null'
        active:
          type: boolean
        password:
          type:
          - string
          - 'null'
        registrationComplete:
          type: boolean
        emailConfirmationToken:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.EmailConfirmationToken'
        userDiscriminator:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.UserDiscriminator'
        dateOfBirth:
          type:
          - string
          - 'null'
          format: date-time
        eventsForMe:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.HistoryEvent'
        createdEvents:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.HistoryEvent'
      additionalProperties: false
    Purplebricks.Property.Domain.Enums.OfferTenancyStatus:
      enum:
      - ConfirmGas
      - AgreeMoveInDate
      - TenantAgreeMoveInDate
      - LandlordAgreeMoveInDate
      - InitialReferencing
      - ReferencingOrdered
      - ReferencingApplicationPrepared
      - ReferencingInProgress
      - ReferencingGreen
      - ReferencingBlue
      - ReferencingRedDeclined
      - ReferencingRedDelayed
      - InitialGuarantor
      - GuarantorOrdered
      - GuarantorApplicationPrepared
      - GuarantorInProgress
      - GuarantorGreen
      - GuarantorRedDeclined
      - GuarantorRedDelayed
      - TenancyUpgrades
      - WaitingOnTenantsContribution
      - ConfirmTenancyAgreement
      - FinaliseTenancyAgreement
      - Complete
      type: string
    Purplebricks.Property.Domain.Entities.MarketingPriceStatus:
      enum:
      - Unknown
      - InReview
      - Approved
      - Rejected
      type: string
    Purplebricks.Property.Domain.Enums.RegulatoryCertificateStatus:
      enum:
      - NotSet
      - Set
      - UrlOrRrnProvided
      - Ordered
      - Uploaded
      - Validated
      - Processed
      type: string
    Purplebricks.Property.Domain.Entities.Property:
      type: object
      properties:
        id:
          type: integer
          format: int32
        expertId:
          type: integer
          format: int32
        expert:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.LocalPropertyExpert'
        userId:
          type: integer
          format: int32
        customer:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Customer'
        toLet:
          type: boolean
        propertyAttributes:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyAttribute'
        negotiationExpertId:
          type:
          - integer
          - 'null'
          format: int32
        accountManagerExpertId:
          type:
          - integer
          - 'null'
          format: int32
        salesProgressorExpertId:
          type:
          - integer
          - 'null'
          format: int32
        closingDate:
          type:
          - string
          - 'null'
          format: date-time
        listingId:
          maxLength: 20
          minLength: 0
          type:
          - string
          - 'null'
        contractsExchangedDate:
          type:
          - string
          - 'null'
          format: date-time
        withdrawPropertyReason:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.WithdrawPropertyReason'
        addressId:
          type:
          - integer
          - 'null'
          format: int32
        address:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Address'
        locationGroupId:
          type:
          - integer
          - 'null'
          format: int32
        locationGroup:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.LocationGroup'
        locationOwnerExpertId:
          type:
          - integer
          - 'null'
          format: int32
        lastActionCompleted:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.WorkflowStepType'
        floorPlan:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.FloorPlan'
        regulatoryCertificate:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.RegulatoryCertificate'
        titleDeed:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyTitleDeed'
        propertyTenancy:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyTenancy'
        propertyMasterId:
          type:
          - integer
          - 'null'
          format: int32
        propertyMaster:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyMaster'
        imageDetails:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.ImageDetail'
        propertyActions:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.PropertyAction'
        idChecks:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.IdCheck'
        additionalOwners:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.AdditionalOwner'
        hasAccompaniedViewing:
          type: boolean
        orders:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.Order'
        accompaniedViewingExpertId:
          type:
          - integer
          - 'null'
          format: int32
        accompaniedViewingExpert:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Entities.LocalPropertyExpert'
        approveListingCurrentStep:
          type: integer
          format: int32
        bedrooms:
          type:
          - integer
          - 'null'
          format: int32
        receptions:
          type:
          - integer
          - 'null'
          format: int32
        bathrooms:
          type:
          - integer
          - 'null'
          format: int32
        carSpaces:
          type:
          - integer
          - 'null'
          format: int32
        tenure:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.Tenure'
        garden:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.Garden'
        parking:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.Parking'
        garage:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.Garage'
        doubleGlazing:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.Glazing'
        centralHeating:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.Heating'
        priceQualifier:
          $ref: '#/components/schemas/Purplebricks.Property.Domain.Enums.PriceQualifier'
        instructionSource:
[...]
