openapi: 3.2.0
info:
  title: Purplebricks Property API 1.0 - Platform Countrywide API
  description: '### All Ex Uber Property related controllers are here.

    ### [Purplebricks Property API Git Repository](https://dev.azure.com/purplebricks/BackEnd/_git/property-api)'
  version: '1.0'
servers:
- url: https://api.purplebricks.co.uk/property-api
security:
- Bearer: []
tags:
- name: Countrywide
paths:
  /v1/countrywide/jobresult:
    post:
      tags:
      - Countrywide
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.Countrywide.JobResultRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.Countrywide.JobResultRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Property.Business.InputModels.Countrywide.JobResultRequest'
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Countrywide.JobResultResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Countrywide.JobResultResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Property.Business.ViewModels.Countrywide.JobResultResponse'
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
components:
  schemas:
    Purplebricks.Property.Business.ViewModels.Countrywide.JobResultResponse:
      type: object
      properties:
        CWS_job_number:
          type:
          - string
          - 'null'
        Success:
          type: boolean
      additionalProperties: false
    Purplebricks.Property.Business.InputModels.Countrywide.JobResultRequest:
      type: object
      properties:
        property_external_ref:
          type:
          - string
          - 'null'
        Cws_property_id:
          type:
          - string
          - 'null'
        Job_external_ref:
          type:
          - string
          - 'null'
        CWS_job_number:
          type:
          - string
          - 'null'
        job_result:
          type:
          - string
          - 'null'
        job_notes:
          type:
          - string
          - 'null'
        image:
          type:
          - string
          - 'null'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
