openapi: 3.2.0
info:
  title: Purplebricks.Branch.Api 1.0 - Squad Agents Experience…
  description: '### Provides full branch information for a postcode or property

    ### Purplebricks.Branch.Api Git Repository'
  version: '1.0'
servers:
- url: https://api.purplebricks.co.uk/branch-api
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: ZooplaBranch
paths:
  /v1/zooplabranch:
    get:
      tags:
      - ZooplaBranch
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZooplaBranchList'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Get zooplabranch
      x-summary-source: derived
      operationId: getV1Zooplabranch
      x-operation-id-source: derived
  /v1/zooplabranch/{branchId}:
    get:
      tags:
      - ZooplaBranch
      parameters:
      - name: branchId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZooplaBranch'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Get zooplabranch by branch id
      x-summary-source: derived
      operationId: getV1ZooplabranchByBranchId
      x-operation-id-source: derived
  /v1/zooplabranch/search:
    get:
      tags:
      - ZooplaBranch
      parameters:
      - name: propertyId
        in: query
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ZooplaBranch'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Get zooplabranch search
      x-summary-source: derived
      operationId: getV1ZooplabranchSearch
      x-operation-id-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    BranchService:
      enum:
      - NotSpecified
      - Sales
      - Lettings
      type: string
    ZooplaBranch:
      type: object
      properties:
        branchId:
          type: integer
          format: int32
        name:
          type:
          - string
          - 'null'
        service:
          $ref: '#/components/schemas/BranchService'
        livePropertyIds:
          type:
          - array
          - 'null'
          items:
            type: integer
            format: int32
      additionalProperties: false
    ZooplaBranchList:
      type: object
      properties:
        count:
          type: integer
          format: int32
        items:
          type:
          - array
          - 'null'
          items:
            $ref: '#/components/schemas/ZooplaBranch'
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
