openapi: 3.2.0
info:
  title: Purplebricks.Microservice.Outlook.Api 1.0 - Squad Agents…
  description: '### API for managing syncing appointments to their Outlook calendar

    ### Purplebricks.Microservice.Outlook.Api Git Repository'
  version: '1.0'
servers:
- url: https://api.purplebricks.co.uk/outlook-api
  description: Base URL declared by the provider in apis.yml (roadmap#122).
security:
- Bearer: []
tags:
- name: AgentOutlookSync
paths:
  /v1/agent/outlook-sync:
    get:
      tags:
      - AgentOutlookSync
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Model'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Get agent outlook sync
      x-summary-source: derived
      operationId: getV1AgentOutlookSync
      x-operation-id-source: derived
    put:
      tags:
      - AgentOutlookSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/PutRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/PutRequest'
      responses:
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '201':
          description: Success
        '204':
          description: Success
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProblemDetails'
      summary: Replace agent outlook sync
      x-summary-source: derived
      operationId: putV1AgentOutlookSync
      x-operation-id-source: derived
components:
  schemas:
    ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    PutRequest:
      type: object
      properties:
        enabled:
          type: boolean
      additionalProperties: false
    Model:
      type: object
      properties:
        agentPublicUserId:
          type: string
          format: uuid
        enabled:
          type: boolean
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
