openapi: 3.2.0
info:
  title: Purplebricks.Communications.Api 1.0 - Core Team Contact Us API
  description: '### Displays customer''s email history records

    ### [Purplebricks.Communications.Api Git Repository](https://dev.azure.com/purplebricks/BackEnd/_git/communications-api)'
  version: '1.0'
servers:
- url: https://api.purplebricks.co.uk/communications-api
security:
- Bearer: []
tags:
- name: ContactUs
paths:
  /v1/contactus:
    post:
      tags:
      - ContactUs
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Communications.Api.Models.InputModels.ContactUsInputModel'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Communications.Api.Models.InputModels.ContactUsInputModel'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Communications.Api.Models.InputModels.ContactUsInputModel'
      responses:
        '204':
          description: Success
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
components:
  schemas:
    Purplebricks.Communications.Api.Models.InputModels.ContactUsAddress:
      type: object
      properties:
        propertyNumberOrName:
          type:
          - string
          - 'null'
        street:
          type:
          - string
          - 'null'
        city:
          type:
          - string
          - 'null'
        postcode:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Communications.Api.Models.InputModels.ContactUsInputModel:
      type: object
      properties:
        firstName:
          type:
          - string
          - 'null'
        lastName:
          type:
          - string
          - 'null'
        subject:
          type:
          - string
          - 'null'
        phoneNumber:
          type:
          - string
          - 'null'
        emailAddress:
          type:
          - string
          - 'null'
        reason:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        address:
          $ref: '#/components/schemas/Purplebricks.Communications.Api.Models.InputModels.ContactUsAddress'
        salesOrLettings:
          type:
          - string
          - 'null'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
