openapi: 3.2.0
info:
  title: Purplebricks Account API 1 - Platform Phone Verification API
  description: '### All Ex Uber Account related controllers are here.

    ### [Purplebricks Account API Git Repository](https://dev.azure.com/purplebricks/BackEnd/_git/account-api)'
  version: '1'
servers:
- url: https://api.purplebricks.co.uk/account-api
security:
- Bearer: []
tags:
- name: PhoneVerification
paths:
  /v1/phoneverification/status:
    get:
      tags:
      - PhoneVerification
      responses:
        '200':
          description: Success
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.PhoneVerificationStatusResponse'
            application/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.PhoneVerificationStatusResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.PhoneVerificationStatusResponse'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /v1/phoneverification/send:
    post:
      tags:
      - PhoneVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.SendOtpRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.SendOtpRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.SendOtpRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '409':
          description: Conflict
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '429':
          description: Client Error
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '500':
          description: Server Error
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /v1/phoneverification/manual-verify/{userId}:
    post:
      tags:
      - PhoneVerification
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
  /v1/phoneverification/verify:
    post:
      tags:
      - PhoneVerification
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.VerifyOtpRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.VerifyOtpRequest'
          application/*+json:
            schema:
              $ref: '#/components/schemas/Purplebricks.Account.Api.V1.Controllers.VerifyOtpRequest'
      responses:
        '200':
          description: Success
        '400':
          description: Bad Request
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
components:
  schemas:
    Purplebricks.Account.Api.V1.Controllers.SendOtpRequest:
      type: object
      properties:
        channel:
          type:
          - string
          - 'null'
      additionalProperties: false
    Purplebricks.Account.Api.V1.Controllers.VerifyOtpRequest:
      type: object
      properties:
        code:
          type:
          - string
          - 'null'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
    Purplebricks.Account.Api.V1.Controllers.PhoneVerificationStatusResponse:
      type: object
      properties:
        isVerified:
          type: boolean
        verifiedAt:
          type:
          - string
          - 'null'
          format: date-time
      additionalProperties: false
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
