openapi: 3.2.0
info:
  title: Purplebricks Feedback API 1 - Core Squad Manage Feedback API
  description: '### Vertical slice for the Uber property-centric feedback endpoints

    ### [Purplebricks Feedback API Git Repository](https://dev.azure.com/purplebricks/BackEnd/_git/feedback-api)'
  version: '1'
servers:
- url: https://api.purplebricks.co.uk/feedback-api
security:
- Bearer: []
tags:
- name: ManageFeedback
paths:
  /v1/managefeedback/allpropertyfeedback/{propertyId}:
    get:
      tags:
      - ManageFeedback
      parameters:
      - name: propertyId
        in: path
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '401':
          description: Unauthorized
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '200':
          description: Success
          content:
            text/plain:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Feedback.Business.Models.FeedbackSummaryViewModel'
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Feedback.Business.Models.FeedbackSummaryViewModel'
            text/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Purplebricks.Feedback.Business.Models.FeedbackSummaryViewModel'
        '404':
          description: Not Found
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
        '403':
          description: Forbidden
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            application/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
            text/json:
              schema:
                $ref: '#/components/schemas/Microsoft.AspNetCore.Mvc.ProblemDetails'
components:
  schemas:
    Purplebricks.Feedback.Business.Models.FeedbackSummaryViewModel:
      type: object
      properties:
        bookingId:
          type: integer
          format: int32
        feedbackId:
          type:
          - integer
          - 'null'
          format: int32
        userById:
          type:
          - integer
          - 'null'
          format: int32
        userBy:
          type:
          - string
          - 'null'
        userToId:
          type: integer
          format: int32
        userTo:
          type:
          - string
          - 'null'
        eventDate:
          type: string
          format: date-time
        presentation:
          type:
          - integer
          - 'null'
          format: int32
        suitability:
          type:
          - integer
          - 'null'
          format: int32
        price:
          type:
          - integer
          - 'null'
          format: int32
        cancellationComments:
          type:
          - string
          - 'null'
        comments:
          type:
          - string
          - 'null'
        status:
          type:
          - string
          - 'null'
      additionalProperties: false
    Microsoft.AspNetCore.Mvc.ProblemDetails:
      type: object
      properties:
        type:
          type:
          - string
          - 'null'
        title:
          type:
          - string
          - 'null'
        status:
          type:
          - integer
          - 'null'
          format: int32
        detail:
          type:
          - string
          - 'null'
        instance:
          type:
          - string
          - 'null'
      additionalProperties: {}
  securitySchemes:
    Bearer:
      type: apiKey
      description: Authorization header using Bearer scheme
      name: Authorization
      in: header
